pagina {
    color: #8bb2f6a2;

    title {
        color: rgb(12, 64, 113);
        font-weight: bold;
        background-color: rgb(109, 178, 215);
    }
}

pagina {
    color: rgb(187, 187, 187);

    title {
        color: white;
        font-weight: bold;
    }
}

item {
    title {
        color: rgba(231, 231, 0, 0.776);
        font-weight: bold;
    }
}

seccion {
    color: #5590f0b1;

    title {
        color: rgb(8, 178, 8);
        font-weight: bold;
    }
}

sabiasque, didyouknow {
    color: #8b5cf6;

    title {
        font-weight: bold;
    }
}

atencion, warning {
    color: #f97316;

    title {
        font-weight: bold;
    }
}

sugerencia, hint {
    color: #22c55e;

    title {
        font-weight: bold;
    }
}

solucion, solution {
    color: #a855f7;

    title {
        font-weight: bold;
    }
}

reflexion, reflection {
    color: #6366f1;

    title {
        font-weight: bold;
    }
}

actividad, activity {
    color: #f43f5e;

    title {
        font-weight: bold;
    }
}

nota, note {
    color: #64748b;

    title {
        font-weight: bold;
    }
}

pregunta, question {
    color: #14b8a6;

    title {
        font-weight: bold;
    }
}

preguntate, ask_yourself {
    color: magenta;

    title {
        color: magenta;
    }
}

portada {
    title {
        color: rgb(239, 68, 68);
        font-weight: bold;
    }
}

